img {
  width: 350px;
  height: 530px;
  margin-top: 20px;
  object-fit: cover;
}
img:hover {
  transform: translateY(2px);
}
h1,
h3 {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 20px;
}
.button {
  display: flex;
  gap: 10px;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alien-container {
  height: min-content;
  font-family: "Domine", serif;
  padding: 10px;
  margin-left: 20px;
}
.error-page {
  text-align: center;
  font-size: 60px;
  margin: 0;
}
.nfound {
  width: 100%;
  height: 100%;
}
.text {
  width: 50%;
}
.head {
  text-align: center;
  color: green;
}
.alien {
  width: 40%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 20px;
}
.home {
  width: 100%;
  /* height: 100%; */
}
.alien-name {
  font-size: 24px;
  /* margin: 0; */
}
.alien-summary {
  margin-top: 0;
}
